@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --finova-navy: #0F172A;
  --finova-cyan: #06B6D4;
}

html, body, #__next { height: 100%; }
body { font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto; background: #f8fafc; color: var(--finova-navy); }
.container { max-width: 1100px; margin-left: auto; margin-right: auto; }